{% extends "base.html" %}

{% block sidebar %}
    <div class="menu">
        {% for empresa, heroes in menu.items() %}
            <div class="nivel-1">{{ empresa }}</div>
            {% for heroe, anios in heroes.items() %}
                <div class="nivel-2">{{ heroe }}</div>
                {% for anio in anios %}
                    <div class="nivel-3">{{ anio }}</div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <h2>Menú de cómics</h2>
{% endblock %}
