{% extends "base.html" %}

{% block title %}Inicio - Colección{% endblock %}

{% block menu %}
  <ul>
    {% for empresa, heroes in menu.items() %}
      <li>
        <div class="clickable" onclick="toggle(this)">{{ empresa }}</div>
        <ul class="submenu">
          {% for heroe, anios in heroes.items() %}
            <li>
              <div class="clickable" onclick="toggle(this)">{{ heroe }}</div>
              <ul class="submenu">
                {% for anio in anios %}
                  <li><a href="/{{ empresa }}/{{ heroe }}/{{ anio }}">{{ anio }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}
  <h1>Bienvenido a tu colección</h1>
  <p>Selecciona un cómic desde el menú lateral.</p>
{% endblock %}
